.btnContained {
    background-color: var(--btn-light);
    border: none;
    border-radius: 3px;
    padding: 0.5em 1.75em;

    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 500;

    z-index: 1;
}
