.buttonOutlined {
    background-color: transparent;
    border: 2px solid var(--btn-light);
    border-radius: 3px;
    padding: 0.75em 2.25em;
    color: var(--btn-light);

    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 600;
    z-index: 1;
}
