html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: var(--text-clr-dark);
}

:root {
    --text-clr-dark: rgb(16, 16, 16);
    --text-clr-light: rgb(255, 255, 255);

    --bg-clr-light: rgb(207, 207, 207);

    --btn-light: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

button:hover {
    filter: brightness(0.75);
    transition: 200ms ease-out;
}
